<a href="/clothes">Clothes</a>
<h1>Settings</h1>

<form id="settingsForm" data-genders="<%= @genders.to_json %>" data-categories="<%= @categories.to_json %>" data-websites="<%= @websites.to_json%>">
    <h3>Gender</h3>
    <label class="radio" v-for="gender in genders">
        <input type="radio" name="gender" :value="gender.id" v-model="formData.gender" @click="clickGender" />
        {{ gender.name }}
    </label>

    <h3>Category</h3>
    <label class="radio" v-for="category in categories" v-if="category.gender_id == formData.gender">
        <input type="radio" name="category" :value="category.id" v-model="formData.category"/>
        {{ category.name }}
    </label>
    
    <h3>Website</h3>
    <div v-for="website in websites">
        <input type="checkbox" :id="website.id" :value="website.id" v-model="formData.websites" >
        <label :for="website.id">{{ website.name }}</label>
    </div>

    <div v-if="formErrors.length">
        <p>Oops. Some more information is required before continuing.</p>
        <ul>
            <li v-for="formError in formErrors">
                {{formError}}
            </li>
        </ul>
    </div>
    
    <div style="margin-top:15px">
        <button @click="clickFormSubmit" type="button" id="form-submit-button">Submit</button>
        <a href="/clothes">Cancel</a>
    </div>
</form>