<form id="settingsForm" class="settings-form" data-genders="<%= @genders.to_json %>" data-categories="<%= @categories.to_json %>">
    <h1>Settings</h1>
    
    <h3>Gender</h3>
    <label class="radio" v-for="gender in genders">
        <input type="radio" name="gender" :value="gender.id" v-model="formData.gender" @click="clickGender" />
        {{ gender.name }}
    </label>

    <h3>Category</h3>
    <div class="search-box-container">
        <input class="search-box" type="text" name="search-category" id="search-category" placeholder="Search for a category"
            v-model="categorySearchBoxQuery"
         />
         <button class="search-clear-button" type="button" @click="categorySearchBoxQuery=''">
            Clear
        </button>
    </div>
    <div class="settings-category-radio-container">
        <label class="settings-category-radio radio" v-for="category in matchedCategories">
            <input type="radio" name="category" :value="category.id" v-model="formData.category"/>
            {{ category.name }}
        </label>
        <div v-if="!matchedCategories.length && !categorySearchBoxQuery">
            Please select a gender
        </div>
        <div v-if="!matchedCategories.length && categorySearchBoxQuery">
            No category found for this search
        </div>
    </div>
    
    <h3>Website</h3>
    <div class="search-box-container">
        <input class="search-box" type="text" name="search-website" id="search-website" placeholder="Search for a website"
            v-model="websiteSearchBoxQuery"
         />
         <button class="search-clear-button" type="button" @click="websiteSearchBoxQuery=''">
            Clear
        </button>
    </div>
    <div v-for="website in filteredWebsites" :key="website.id">
        <input type="checkbox" :id="website.id" :value="website.id" v-model="formData.websites" >
        <label :for="website.id">{{ website.name }}</label>
    </div>
    <div v-if="!websites.length && !websiteSearchBoxQuery">
        Please select a gender and category
    </div>
    <div v-if="!filteredWebsites.length && websiteSearchBoxQuery">
        No websites found for this search
    </div>

    <div v-if="formErrors.length">
        <p>Oops. Some more information is required before continuing.</p>
        <ul>
            <li v-for="formError in formErrors">
                {{formError}}
            </li>
        </ul>
    </div>
    
    <div style="margin-top:15px">
        <button @click="clickFormSubmit" type="button" id="form-submit-button">Save</button>
        <a href="/clothes">Cancel</a>
    </div>
</form>