$header-height: 60px;
$phone: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;

body {
    margin: 0;
    font-size: 1em;
    @media screen and (max-width: $tablet) {
        font-size: 0.8em;
    }

    h1 {
        @media screen and (min-width: $phone) and (max-width: $tablet) {
            font-size: 1.7em;
        }
        @media screen and (max-width: $phone) {
            font-size: 1.5em;
        }
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        height: $header-height;
        padding: 0 20px;
        @media screen and (min-width: $phone) and (max-width: $tablet) {
            padding: 0 10px;
        }
        @media screen and (max-width: $phone) {
            padding: 0 5px;
        }
        background-color: white;
        * {
            margin: 0 15px 0 0;
        }
        a:last-child {
            margin: 0 0 0 auto;
        }
    }
    
    .card-container {
        margin-top: $header-height;
        display: flex;
        flex-wrap: wrap;
        .card {
            flex: 0 0 25%;
            border: 1px black solid;
            @media screen and (min-width: $phone) and (max-width: $tablet) {
                flex: 0 0 33%
            }
            @media screen and (max-width: $phone) {
                flex: 0 0 50%;
            }
            .info-container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 60px;
                p {
                    margin: 0;
                }
            }
            .image {
                width:100%;
            }
        }
        .empty-message {
            flex: 0 0 100%;
            text-align: center;
        }
    }
}

.settings-form {
    padding: 0 0 0 25px;
}

