// Place all the styles related to the Clothes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-container {
    .card {
        display: inline-block;
        width: 49%;
        border: 1px black solid;
    }
}

